<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>account_create_edit</title>
	
	<link rel="stylesheet" href="../css/style.css">
	<script defer src="../js/script.js"></script>
</head>
<body>
	<main class="account-edit">
		<div class="container container--account">
			<h1 class="title title--account">My account</h1>
			<form class="form" action="" method="post">
				<label class="input-group">
					<span class="input-group__label">Name</span>
					<input class="input-group__input" id="name" type="text" placeholder="Camila Yokoo">
				</label>
				<label class="input-group">
					<span class="input-group__label">Email address</span>
					<input class="input-group__input" id="email" type="email" placeholder="camilayokoo@gmail.com">
				</label>
				<label class="input-group">
					<span class="input-group__label">Password</span>
					<input class="input-group__input" id="password" type="password" placeholder="*********">
				</label>
			</form>
			<button class="button button--success button--float-bottom" type="submit">Save</button>
		</div>
	</main>
</body>
</html>