<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>email_sent</title>

	<link rel="stylesheet" href="../css/style.css">
	<script defer src="../js/script.js"></script>
</head>
<body>
	<main class="email-sent">
		<div class="container">
			<img class="logo" src="../assets/images/logo_yard_sale.svg" alt="logo" >
			<h1 class="title title--center">Email has been sent!</h1>
			<p class="subtitle">Please check your inbox for instructions on how to reset the password</p>

			<div class="icon">
				<img class="icon__email-sent" src="../assets/icons/email.svg" alt="Email sent icon">
			</div>
			<button class="button button--success button--email-sent">Login</button>
			<p class="link">
				<span class="link link--text">Didn't receive the email?</span>
				<a class="link link--url" href="">Resend</a href=".">
			</p>
		</div>
	</main>
</body>
</html>