<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>account_create_edit</title>
	
	<link rel="stylesheet" href="../css/style.css">
	<script defer src="../js/script.js"></script>
</head>
<body>
     <section class="main-container">
          <div class="cards-container">
               <div class="product-card">
                    <img class="product-img" src="../assets/products/1.jpg" alt="">
                    <div class="product-info">
                         <div class="product-text">
                              <p>$120,00</p>
                              <p>Bike</p>
                         </div>
                         <figure class="product-button">
                              <img src="../assets/icons/bt_add_to_cart.svg" alt="">
                         </figure>
                    </div>
               </div>
               <div class="product-card">
                    <img class="product-img" src="../assets/products/2.jpg" alt="">
                    <div class="product-info">
                         <div class="product-text">
                              <p>$120,00</p>
                              <p>Bike</p>
                         </div>
                         <figure class="product-button">
                              <img src="../assets/icons/bt_add_to_cart.svg" alt="">
                         </figure>
                    </div>
               </div>
               <div class="product-card">
                    <img class="product-img" src="../assets/products/3.jpg" alt="">
                    <div class="product-info">
                         <div class="product-text">
                              <p>$120,00</p>
                              <p>Bike</p>
                         </div>
                         <figure class="product-button">
                              <img src="../assets/icons/bt_add_to_cart.svg" alt="">
                         </figure>
                    </div>
               </div>
               <div class="product-card">
                    <img class="product-img" src="../assets/products/4.jpg" alt="">
                    <div class="product-info">
                         <div class="product-text">
                              <p>$120,00</p>
                              <p>Bike</p>
                         </div>
                         <figure class="product-button">
                              <img src="../assets/icons/bt_add_to_cart.svg" alt="">
                         </figure>
                    </div>
               </div>
               <div class="product-card">
                    <img class="product-img" src="../assets/products/5.jpg" alt="">
                    <div class="product-info">
                         <div class="product-text">
                              <p>$120,00</p>
                              <p>Bike</p>
                         </div>
                         <figure class="product-button">
                              <img src="../assets/icons/bt_add_to_cart.svg" alt="">
                         </figure>
                    </div>
               </div>
               <div class="product-card">
                    <img class="product-img" src="../assets/products/6.jpg" alt="">
                    <div class="product-info">
                         <div class="product-text">
                              <p>$120,00</p>
                              <p>Bike</p>
                         </div>
                         <figure class="product-button">
                              <img src="../assets/icons/bt_add_to_cart.svg" alt="">
                         </figure>
                    </div>
               </div>
          </div>
     </section>
</body>
</html>