<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>menu</title>
	
	<link rel="stylesheet" href="../css/style.css">
	<script defer src="../js/script.js"></script>
</head>
<body>
     <div class="menu-mobile">
          <ul>
               <li><a class="menu-item menu-header" href="/">Categories</a></li>
               <li><a class="menu-item" href="/">All</a></li>
               <li><a class="menu-item" href="/">Clothes</a></li>
               <li><a class="menu-item" href="/">Electronics</a></li>
               <li><a class="menu-item" href="/">Furnitures</a></li>
               <li><a class="menu-item" href="/">Toys</a></li>
               <li><a class="menu-item" href="/">Other</a></li>
          </ul>
          <ul>
               <li><a class="menu-item" href="/">My orders</a></li>
               <li><a class="menu-item" href="/">My account</a></li>
          </ul>
          <ul>
               <li class="menu-text">placeholder@yardsale.com</li>
               <li class="menu-button"><a href="/">Sign up</a></li>
          </ul>
     </div>
</body>
</html>