<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>My order</title>
	
	<link rel="stylesheet" href="../css/style.css">
	<script defer src="../js/script.js"></script>
</head>
<body>
     <main class="my-order">
          <div class="my-order-container">
               <h1 class="my-order-title">My order</h1>
               <div class="my-order-content">
                    <p>
                         <span>04.25.2021</span>
                         <span>6 articles</span>
                    </p>
                    <p>$ 560,00</p>
               </div>
               <div class="shopping-cart">
                    <figure>
                         <img src="../assets/products/bicible_photo.jpeg" alt="product">
                    </figure>
                    <p>Bike</p>
                    <p>$ 120,00</p>
               </div>
               <div class="shopping-cart">
                    <figure>
                         <img src="../assets/products/bicible_photo.jpeg" alt="product">
                    </figure>
                    <p>Bike</p>
                    <p>$ 120,00</p>
               </div>
               <div class="shopping-cart">
                    <figure>
                         <img src="../assets/products/bicible_photo.jpeg" alt="product">
                    </figure>
                    <p>Bike</p>
                    <p>$ 120,00</p>
               </div>
               <div class="shopping-cart">
                    <figure>
                         <img src="../assets/products/bicible_photo.jpeg" alt="product">
                    </figure>
                    <p>Bike</p>
                    <p>$ 120,00</p>
               </div>
               <div class="shopping-cart">
                    <figure>
                         <img src="../assets/products/bicible_photo.jpeg" alt="product">
                    </figure>
                    <p>Bike</p>
                    <p>$ 120,00</p>
               </div>
          </div>
     </main>
</body>
</html>