<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>My order</title>
	
	<link rel="stylesheet" href="../css/style.css">
	<script defer src="../js/script.js"></script>
</head>
<body>
     <main class="my-orders">
          <div class="my-orders-container">
               <h1 class="my-orders-title">My orders</h1>
               <div class="my-orders-item">
                    <p>
                         <span>04.25.2021</span>
                         <span>6 articles</span>
                    </p>
                    <p>$ 560,00</p>
                    <img src="../assets/icons/flechita.svg" alt="arrow">
               </div>
               <div class="my-orders-item">
                    <p>
                         <span>04.25.2021</span>
                         <span>6 articles</span>
                    </p>
                    <p>$ 560,00</p>
                    <img src="../assets/icons/flechita.svg" alt="arrow">
               </div>
               <div class="my-orders-item">
                    <p>
                         <span>04.25.2021</span>
                         <span>6 articles</span>
                    </p>
                    <p>$ 560,00</p>
                    <img src="../assets/icons/flechita.svg" alt="arrow">
               </div>
               <div class="my-orders-item">
                    <p>
                         <span>04.25.2021</span>
                         <span>6 articles</span>
                    </p>
                    <p>$ 560,00</p>
                    <img src="../assets/icons/flechita.svg" alt="arrow">
               </div>
          </div>
     </main>
</body>
</html>